<h1>{{title}}</h1>
{{#each data}}
	<p>{{this.first_name}}</p>
{{/each}}
{{#each data1}}
	<p>{{this.company_name}}</p>
{{/each}}
{{#each data2}}
	<p>{{this.Bank_name}} {{this.Branch_name}}</p>
{{/each}}